.acs-form-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 5px;
    padding: 10px;
}
.acs-form-column{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 5px;
    padding: 10px;
}
.acs-form-table{
    padding: 10px;
    overflow-y: auto;
    overflow-x: auto;
}
.acs-div-filter1{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 4px 0;
}
.acs-div-filter2{
    display: flex;
    width: 300px;
    flex-direction: row;
    margin: 4px 0;
    gap: 5px;
}
.acs-div-filter-custom{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 4px 0;
}
.acs-div-filter-custom1{
    display: block;
    width: 100%;
    text-align: center;
}
.acs-div-filter-custom1 button{
    width: 300px;
    aspect-ratio: 4/1;
}
.acs-div-filter2 #persen_discount{
    width: 50px;
}
.acs-div-filter2 #jumlah_discount{
    width: 250px;
}
.acs-btn-table{
    width: 100%;
    aspect-ratio: 4/1;
}
.red-label {
    color: red;
}
