.acs-form{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 5px;
    padding: 10px;
}
.acs-div-container{
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100%;
    padding: 5px;
}
.acs-div-filter{
    display: flex;
    width: 75%;
    flex-direction: column;
    margin: 4px 0;
}
.acs-div-filter1{
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 4px 0;
}
.acs-div-filter2{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 4px 0;
    gap: 5px;
}
.acs-btn{
    margin: 10px;
    aspect-ratio: 5/1;
    width: 300px;
}
